[Tt]emp/
[Oo]bj/
[Bb]in/

[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.pidb
*.pidb.meta
/*.suo

.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.idea
*.DotSettings
*.DotSettings.user
